.link {
  & > svg {
    @apply transform duration-75 ease-linear;
  }

  &:hover > svg {
    @apply scale-110;
  }
}

.logo {
  height: 30px;
  @apply cursor-pointer transform duration-100 ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  & > img {
    height: 100%;
  }
}
